@model Maxima.Models.ViewModels.OrderVM
@using Maxima.Utility
<form method="post">
    <input asp-for="OrderHeader.Id" hidden />
    <br />
    <div class="container">
        <div class="card-body">
            <div class="container p-2">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-4">

                        <div class="row">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="product_card_secondary_text">DETAILS</span>
                            </h4>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">Name</div>
                            <div class="col-8">
                                <input asp-for="OrderHeader.Name" type="text" class="form-control-transparent" />
                                <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">Phone</div>
                            <div class="col-8">
                                <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control-transparent" />
                                <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">Address</div>
                            <div class="col-8">
                                <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control-transparent" />
                                <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">City</div>
                            <div class="col-8">
                                <input asp-for="OrderHeader.City" type="text" class="form-control-transparent" />
                                <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">State</div>
                            <div class="col-8">
                                <input asp-for="OrderHeader.State" type="text" class="form-control-transparent" />
                                <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">Zip Code</div>
                            <div class="col-8">
                                <input asp-for="OrderHeader.PostalCode" type="text" class="form-control-transparent" />
                                <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">Email</div>
                            <div class="col-8">
                                <input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control-transparent" />
                            </div>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">Order Date</div>
                            <div class="col-8">
                                <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" readonly type="text" class="form-control-transparent" />
                            </div>
                        </div>

                        <div class="row my-1 mt-4">
                            <div class="col-4 product_card_secondary_text">Shipping Date</div>
                            <div class="col-8">
                                <input value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" readonly class="form-control-transparent" />
                            </div>
                        </div>
                        <a asp-action="Index" class="btn btn-continue text-uppercase col-5 p-2 mt-4">Back</a>
                        <input type="submit" asp-action="UpdateOrderDetail" class="btn btn-continue text-uppercase col-5  mt-4" value="Update" />
                    </div>

                    <div class="col-12 col-lg-5 offset-lg-1">

                        <div class="col-12 ms-0 p-2">
                            <h4 class="d-flex justify-content-between align-items-center ">
                                <span class="product_card_secondary_text">
                                    ORDER SUMMARY
                                </span>
                            </h4>
                        </div>

                        <div class="col-12 ms-0 p-2">
                            <h4 class="d-flex justify-content-between align-items-center ">
                                <span class="product_card_main_text text-uppercase">
                                    STATUS
                                    <span class="product_card_accent_text text-uppercase">
                                        @Model.OrderHeader.OrderStatus
                                    </span>
                                </span>
                            </h4>
                        </div>

                        <div class="col-12 ms-0">

                            @if (Model.OrderHeader.OrderStatus == SD.StatusNewOrder)
                            {
                                <input type="submit" onclick="return validateInput()"
                                   asp-action="Confirmed" class="btn btn-filter text-uppercase" style="font-size:small;" value="Confirmed" />
                            }

                            @if (Model.OrderHeader.OrderStatus == SD.StatusConfirmed)
                            {
                                <input type="submit" onclick="return validateInput()"
                                   asp-action="InProcessing" class="btn btn-filter text-uppercase" style="font-size:small;" value="In Processing" />
                            }

                            @if (Model.OrderHeader.OrderStatus == SD.StatusInProcessing)
                            {
                                <input type="submit" onclick="return validateInput()"
                                   asp-action="Sending" class="btn btn-filter text-uppercase" style="font-size:small;" value="Sending" />
                            }

                            <input type="submit" asp-action="CancelOrder" class="btn btn-filter text-uppercase" style="font-size:small;" value="Cancel Order" />

                        </div>

                        <div class="col-12 ms-0 pt-4">
                            <ul class="mb-3">
                                @foreach (var detail in Model.OrderDetail)
                                {
                                    <li class="d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 product_card_main_text">@detail.Product.Name</h6>
                                                <small class="product_card_secondary_text" style="font-size:12px;">Price x @detail.Product.Price</small><br />
                                                <small class="product_card_secondary_text" style="font-size:12px;">Qty  @detail.Count</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="product_card_accent_text">@((detail.Count * detail.Product.Price).ToString()) $</p>
                                            </div>
                                        </div>
                                    </li>
                                }

                                <li class="d-flex justify-content-between p-2">
                                    <div class="row container">
                                        <div class="col-8">
                                            <small class="product_card_main_text">TOTAL PRICE</small>
                                        </div>

                                        <div class="col-4 text-end">
                                            <strong class="product_card_accent_text">@Model.OrderHeader.OrderTotal.ToString() $</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

