@{
    var status = Context.Request.Query["status"];
   
     var all="text-primary";
     var newOrder = "text-primary";
     var confirmed = "text-primary";
     var inProcessing = "text-primary";
     var sending = "text-primary";
     var receive = "text-primary";

    switch (status)
    {
        case "newOrder":           
            newOrder = "active text-white";
        break;
        case "confirmed":
            confirmed = "active text-white";
        break;
        case "inProcessing":
            inProcessing = "active text-white";
        break;
        case "sending":
            sending = "active text-white";
        break;
        case "receive":
            receive = "active text-white";
        break;
        default:
            all = "active text-white";
        break;
    }

}



<div class="p-3">
    <div class="d-flex justify-content-between pt-4">
        <div class="pt-2">
                 <p class="product_card_secondary_text text-uppercase">
           orders
        </p>
		</div>
        <div class="pt-2">
			
             <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="newOrder">
                    <li class="list-group-item text-uppercase @newOrder">New</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="confirmed">
                    <li class="list-group-item text-uppercase @confirmed">Confirmed</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="inProcessing">
                    <li class="list-group-item text-uppercase @inProcessing">In processing</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="sending">
                    <li class="list-group-item text-uppercase @sending">Sending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="receive">
                    <li class="list-group-item text-uppercase @receive">Recive</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order"
                    asp-action="Index" asp-route-status="all">
                    <li class="list-group-item text-uppercase @all">All</li>
                </a>
            </ul>


		</div>
	</div>
    <br /><br />

<table  id="tblData"  class="table table-striped table-hover" style="width:100%">
    <thead>
        <tr>
            <th class="product_card_main_text text-uppercase">Id</th>
            <th class="product_card_main_text text-uppercase">Date</th>
            <th class="product_card_main_text text-uppercase">Name</th>
            <th class="product_card_main_text text-uppercase">Phone</th>
            <th class="product_card_main_text text-uppercase">Email</th>
            <th class="product_card_main_text text-uppercase">Status</th>
            <th class="product_card_main_text text-uppercase">Total</th>
            <th></th>
		</tr>
	</thead>
</table>
</div>

@section Scripts{
    <script src="~/js/order.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>

   @* <script src="~/js/signalr.js"></script>*@

}