@model Maxima.Models.ViewModels.ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />

    <div class="row">
        <div class="col-10 m-2">
            <p class="product_card_secondary_text text-uppercase">@(Model.Product.Id!=0?"Update": "Create")  Product</p>
        </div>
    </div>

    <div class="row ">
        <div class="col-3 ">
            <div class="m-2 col-12 product_card_main_text text-uppercase col-4">
                <label asp-for="Product.Name"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>

            <div class="m-2 col-12 product_card_main_text text-uppercase col-4">
                <label asp-for="Product.Price"></label>
                <input asp-for="Product.Price" class="form-control" />
                <span asp-validation-for="Product.Price" class="text-danger"></span>
            </div>

            <div class="m-2 pt-4 col-12 product_card_main_text text-uppercase">
                <label asp-for="Product.ImageUrl"></label>
                <input type="file" id="uploadBox" name="file" class="form-control" />
            </div>

            <div class="m-2 col-12 product_card_main_text text-uppercase">
                <label asp-for="Product.CategoryId"></label>
                <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select text-uppercase product_card_secondary_text">
                    <option disabled selected>--Select Category--</option>
                </select>
                <span asp-validation-for="Product.CategoryId" class="product_card_accent_text"></span>
            </div>

            <div class="m-2 pt-4 col-12 product_card_main_text text-uppercase col-4">
                <label asp-for="Product.ShortDesc"></label>
                <textarea asp-for="Product.ShortDesc" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Product.ShortDesc" class="text-danger"></span>
            </div>

            <div class="m-2 col-12 product_card_main_text text-uppercase col-4">
                <label asp-for="Product.Description"></label>
                <textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
                <span asp-validation-for="Product.Description" class="text-danger"></span>
            </div>


            <div class="m-2 col-12 mt-4">
                @if (Model.Product.Id != 0)
                {
                    <button type="submit" class="btn btn-continue text-uppercase " style="width:150px">Update</button>
                }
                else
                {
                    <button type="submit" onclick="return ValidateInput()" class="btn btn-continue text-uppercase " style="width:150px">Create</button>
                }
                <a asp-controller="Product" asp-action="Index" class="btn btn-continue text-uppercase " style="width:150px">
                    Back
                </a>
            </div>
        </div>

        <div class="col-3 d-flex justify-content-center">
            <div class="m-2 ">
                <img src="@Model.Product.ImageUrl"
                     width="100%" />
            </div>
        </div>

        <div class="col-6 ">
            @if (Model.Product.Id != 0)
            {
                <div class="m-2">
                    <a asp-controller="AdditionalImg" asp-action="Create" asp-route-tovarid="@Model.Product.Id" class="btn btn-filter text-uppercase">
                        ADD new Image
                    </a>
                </div>
            }

            <div class="m-2 row position-relative">
                @foreach (var item in Model.AdditionalImgList)
                {
                    <div class="col-4 m-0">
                        <div class="card card-body border-0 rounded-0" style="background: #BFB1B1">
                            <img src="@item.AdditionalImgUrl" class="img-fluid">
                            <a asp-controller="AdditionalImg" asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-continue text-uppercase mt-2">
                                Edit
                            </a>
                        </div>
                    </div>
                }
            </div>

            @if (Model.Product.Id != 0)
            {
                <div class="m-2">
                    <a asp-controller="Size" asp-action="Create" asp-route-tovarid="@Model.Product.Id" class="btn btn-filter text-uppercase">
                        Add Size
                    </a>
                </div>

            }

            <div class="m-2 row position-relative">
                @foreach (var item in Model.SizeList)
                {
                    <div class="col-2 p-2 mt-2">
                        <div class="card card-body p-0 border-0 rounded-0" style="background: #BFB1B1">
                            <div class="">
                                <a class="btn btn-filter product_card_secondary_text position-absolute top-0 end-0" role="button" style="color: #47343F" asp-controller="Size"
                               asp-action="Delete" asp-route-id="@item.Id">
                                    <i style="font-size:small;" class="bi bi-trash-fill"></i>
                                </a>
                                <a class="btn btn-filter product_card_secondary_text position-absolute top-0 start-0" role="button" style="color: #47343F" asp-controller="Size"
                               asp-action="Edit" asp-route-id="@item.Id">
                                    <i style="font-size:small;" class="bi bi-pencil-square"></i>
                                </a>
                            </div>

                            <div class="row m-1 pt-5">
                                <p class="col-7 ">
                                    <input asp-for="@item.DisplayName" disabled="disabled" class="bg-transparent border-0 product_card_secondary_text" />
                                    <span asp-validation-for="@item" class="product_card_accent_text"></span>
                                </p>
                                <p class="col-2 ">
                                    <input asp-for="@item.Count" disabled="disabled" class="bg-transparent border-0 product_card_accent_text" />
                                    <span asp-validation-for="@item" class="product_card_accent_text"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</form>

@section Scripts{
	@{
	<partial name="_ValidationScriptsPartial" />
	}
<script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      toolbar_mode: 'floating',
   });
  
	function ValidateInput(){
		if(document.getElementById("uploadBox").value==""){
			Swal.fire({
			  icon: 'error',
			  title: 'Oops...',
			  text: 'Please upload an Image!',
			});
			return false;
		}
		return true;
	}
</script>
}