@model Maxima.Models.ViewModels.ShoppingCartVM

<form method="post">
    <div class="container">
        <section>
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col">
                        <p><span class="product_card_secondary_text">BASKET</span><span class="product_card_accent_text"> + @Model.ListCart.Count().ToString()</span></p>


                        @foreach (var item in Model.ListCart)
                        {
                            <div class="card mb-4 bg-gradient-secondary ">
                                <div class="card-body p-4">

                                    <div class="row">
                                        <div class="col-md-1">
                                            <img src="@item.Product.ImageUrl"
                                             class="img-fluid">
                                        </div>

                                        <div class="col-md-3">
                                            <div>
                                                <p class="product_card_main_text d-flex justify-content-center mt-3 ">NAME</p>
                                                <p class="lead fw-normal product_card_secondary_text d-flex justify-content-center">@item.Product.Name</p>
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div>
                                                <p class="product_card_main_text d-flex justify-content-center mt-3">SIZE</p>
                                                <p class="lead fw-normal product_card_secondary_text d-flex justify-content-center">
                                                    @item.Size
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-md-2 ">
                                            <div>
                                                <p class="product_card_main_text d-flex justify-content-center mt-3">QUANTITY</p>

                                                <div class="d-flex justify-content-center">
                                                    <a asp-action="minus" asp-route-cartId="@item.Id" class="btn btn-filter bg-0 product_card_secondary_text ">
                                                        <i class="bi bi-dash"></i>
                                                    </a>
                                                    <a class="m-2 text-decoration-none product_card_secondary_text product_card_secondary_text">
                                                        @item.Count
                                                    </a>
                                                    <a asp-action="plus" asp-route-cartId="@item.Id" class="btn btn-filter bg-0 product_card_secondary_text">
                                                        <i class="bi bi-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div>
                                                <p class="product_card_main_text d-flex justify-content-center mt-3">PRICE</p>
                                                <p class="lead fw-normal product_card_secondary_text d-flex justify-content-center">$@item.Product.Price</p>
                                            </div>
                                        </div>

                                        <div class="col-md-1">
                                            <div>
                                                <p class="product_card_main_text d-flex justify-content-center mt-3">TOTAL</p>
                                                <p class="lead fw-normal product_card_secondary_text d-flex justify-content-center">$@item.Price</p>
                                            </div>
                                        </div>

                                        <div class="col-md-3 d-flex justify-content-end mt-4">
                                            <a asp-action="remove" asp-route-cartId="@item.Id" class="btn bg-0 product_card_secondary_text">
                                                <i class="bi bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="d-flex justify-content-end">
                            <p class="product_card_main_text mb-4 pb-2">TOTAL PRICE &nbsp;
                            <p class="product_card_accent_text">  @Model.OrderHeader.OrderTotal.ToString() $</p>
                        </div>

                        <div class="d-flex justify-content-end">
                            <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-continue btn-lg me-2">CONTINUE SHOPPING</a>
                            <a asp-action="Summary" class="btn btn-continue btn-lg">TO ORDER</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>









